{% extends "page.twig" %}

{% block page_content %}

	<section class="container">
		<article>
			<div class="movie__item__wrapper">
				<div class="movie__item movie__item--film">
					<div class="text-wrapper animated">
						<h1>{{movie.title}}</h1>

						<span class="info">
							<i class="director">{{"%s "|format(movie.get_field('subtitle'))}}{{movie.get_field('director') is not empty ? 'by ' : ''}}{{movie.get_field('director')[0].post_title}}</i>
							<i class="hover-watch">Watch the film</i>
						</span>
					</div>

					<div class="{{movie.get_field('custom_file_mp4__webm')}} video-full-wrapper">
						<div class="video-info hidden">
							<span><i>{{movie.title}}, {{movie.get_field('subtitle')}}</i></span>
							{% if movie.get_field('director') is not empty %}
							<span class="video-director"><i>by <a href="{{movie.get_field('director')[0].link}}">{{movie.get_field('director')[0].post_title|trim}}</a></i></span>
							{% endif %}
						</div>

						{% if movie.get_field('custom_file_mp4__webm') == 'wiredrive' %}
							<div class="poster" style="background: url('{{movie.get_field('cover')|resize(1280)}}') center no-repeat; background-size: cover;"></div>
							{{movie.get_field('wiredrive')|parse_wiredrive}}
						{% else %}
							<video preload="auto" poster="{{movie.get_field('cover')|resize(1280)}}">
								{% if movie.get_field('video_full_webm') %}
									<source src="{{movie.get_field('video_full_webm')}}">
								{% endif %}
								{% if movie.get_field('video_full_mp4') %}
									<source src="{{movie.get_field('video_full_mp4')}}">
								{% endif %}
							</video>
						{% endif %}

						<canvas class="canvas-loader"></canvas>
					</div>
				</div>
			</div>
		</article>
	</section>
{% endblock %}